<!DOCTYPE html>
<html>
<head>
	<title>HTML PRACTICE</title>
</head>
<body>
	<header>
		<h1>It's rather Sushi</h1>
	</header>
	
		<ul>
			<li>this is the HTML Document</li>
			<li>this is the HTML Document</li>
			<li>this is the HTML Document</li>
		</ul>

		<p>Isn't this Cool</p>

	<footer>
		<h5>Stuff</h5>
	</footer>

	<%= link_to image_tag('Schedule.png'), 'www.google.com' %>
</body>
</html>